
{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- style.css  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- fontawesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
        integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ=="
        crossorigin="anonymous" />

    <title>E-Commerce</title>
</head>

<body id="top">
    <!-- ==============header menu section starts here============== -->
    <section class="header_menu" id="header_menu">
        <div class="container-fluid px-0 shadow">
            <nav class="navbar navbar-expand-lg navbar-light bg-light py-3  ">
                <a class="navbar-brand pl-5" href="javascript:;">
                    <img src="{% static 'images/logo.png' %}" class="img img-fluid" width="120px" alt="logo">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url 'fdhome' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link" href="{% url 'fdform' %}">Form</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link" href="{% url 'fdfiles' %}">My Files</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="{% url 'fdcontactus' %}">ContactUs</a>
                        </li>
                        
                    </ul>

                    <div class="cart active">
                      {% for i in FdsignupResult %}
                      <a class="nav-link" href="{% url 'fdlogout' %}">Logout | {{i.username}}</a>
                      {% endfor %}
                    </div>
                </div>
            </nav>
        </div>
    </section>
    <!-- ==============header menu section ends here============== -->

    <!-- ==============cart starts here============== -->
    <section class="cart py-5 my-5" id="cart">
        <div class="container ">
            <div class="section_title text-center mb-5">
                <h1 class="text-capitalize">My Files</h1>
            </div>
            <div class="row bg_cart_1 rounded">
                <!--Grid column-->
                <div class="col-md-8 border-right">
                    <!-- Card -->
                    <div class="mb-3">
                        <div class="pt-4">
                            <h5 class="mb-4">Cart (<span>{{count}}</span> items)</h5>
                          {% for i in FiResult %}
                            <div class="row mb-4">
                                <div class="col-md-5 col-lg-3 col-xl-3">
                                    <div class="rounded mb-3 mb-md-0">
                                        <img class="img-fluid w-100 rounded" src="{{media_url}}{{ i.clothfile}}"
                                            alt="Sample">
                                    </div>
                                </div>
                                <div class="col-md-7 col-lg-9 col-xl-9">
                                    <div>
                                     
                                        <div class="d-flex justify-content-between">
                                            <div>
                                                <h5>{{i.clothname}}</h5>
                                                <p class="mb-3 text-muted text-uppercase small">Shirt - {{i.clothtype}}</p>
                                                <p class="mb-2 text-muted text-uppercase small">Color: {{i.clothcolour}}</p>
                                                <p class="mb-2 text-muted text-uppercase small">Pattern: {{i.clothpattern}}</p>
                                                <p class="mb-3 text-muted text-uppercase small">Size: {{i.clothsizes}}</p>
                                            </div>
                                            <div>
                                                <div class="mb-0 w-100">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                                        class="btn btn-sm btn-outline-primary">
                                                        <i class="fas fa-minus"></i>
                                                    </button>
                                                    <input class="quantity text-center" min="0" max="10" name="quantity"
                                                        value="1" type="number">
                                                    <button
                                                        onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                                        class="btn btn-sm btn-outline-primary">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                                <small class="form-text text-muted text-center">
                                                    (Note, 1 piece)
                                                </small>
                                            </div>
                                        </div>
                                        
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div>
                                              <a href = '/fdfiledelete/{{i.id}}' style="padding-left: 10px; padding-right: 10px; ">
                                                <svg style="color: red;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart-x" viewBox="0 0 16 16">
                                                    <path d="M7.354 5.646a.5.5 0 1 0-.708.708L7.793 7.5 6.646 8.646a.5.5 0 1 0 .708.708L8.5 8.207l1.146 1.147a.5.5 0 0 0 .708-.708L9.207 7.5l1.147-1.146a.5.5 0 0 0-.708-.708L8.5 6.793 7.354 5.646z"/>
                                                    <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                                                </svg>
                                                Remove Item
                                                </a>
                                            </div>
                                            
                                            <p class="mb-0">
                                              <span><strong id="summary">₹{{i.clothprice}}</strong></span>
                                              <a href = '/fdfileview/{{i.id}}' style="padding-left: 10px; padding-right: 10px; color: black;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                                </svg>
                                              </a>
                                            </p class="mb-0">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="mb-4">
                            {% endfor%}
                        </div>
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-4  rounded">
                    <!-- Card -->
                    <div class="mb-3">
                        <div class="pt-4">
                            <h5 class="mb-3">Order summary</h5>
                            <ul class="list-group list-group-flush">
                                {% for i in result %}
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-2">
                                    <span>Product name 1</span>
                                    <span>x2</span>
                                    <span>₹{{i.clothprice}}</span>
                                </li>
                                {% endfor%}
                                <li
                                    class="list-group-item d-flex justify-content-between align-items-center border-top px-0 mb-3">
                                    <div>
                                        <strong>Total amount</strong>
                                        <strong>
                                            <p class="mb-0">(including VAT)</p>
                                        </strong>
                                    </div>
                                    <span><strong>₹{{tp}}</strong></span>
                                </li>
                            </ul>
                            <a href="checkout.html" class="btn btn-primary btn-block">Go to Checkout</a>
                        </div>
                    </div>
                    <!-- Card -->
                </div>
                <!--Grid column-->
            </div>
        </div>
    </section>

    <!-- ==============cart ends here============== -->

    <!-- ==============footer starts here============== -->
    <section class="footer_section pt-5 pb-2 mt-5" id="footer_section">
        <footer>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-6 pl-5">
                        <div class="footer_title">
                            <img src="assets/images/logo.png" width="150px" class="img img-fluid" alt="logo">
                        </div>
                        <div>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit, totam est illum ipsum
                            quas ad
                            dignissimos magni veritatis natus voluptatem.
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="footer_title pt-3 mb-3">
                            <h3>Quick Links</h3>
                        </div>
                        <div class="footer_links">
                            <ul>
                                <li><a href="javascript:;">About</a></li>
                                <li><a href="javascript:;">Offers & Discounts</a></li>
                                <li><a href="javascript:;">Get Coupon</a></li>
                                <li><a href="javascript:;">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="footer_title pt-3 mb-3">
                            <h3>New Products</h3>
                        </div>
                        <div class="footer_links">
                            <ul>
                                <li><a href="javascript:;">Woman Cloth</a></li>
                                <li><a href="javascript:;">Fashion Accessories</a></li>
                                <li><a href="javascript:;">Man Accessories</a></li>
                                <li><a href="javascript:;">Rubber made Toys</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-6">
                        <div class="footer_title pt-3 mb-3">
                            <h3>Support</h3>
                        </div>
                        <div class="footer_links">
                            <ul>
                                <li><a href="javascript:;">Frequently Asked Questions</a></li>
                                <li><a href="javascript:;">Terms & Conditions</a></li>
                                <li><a href="javascript:;">Privacy Policy</a></li>
                                <li><a href="javascript:;">Report a Payment Issue</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border-top">
                <h6 class="text-center mt-3">Copyright ©2020 All rights reserved
                </h6>
            </div>
        </footer>
    </section>
    <div class="backtop">
        <a id="button" href="#top" class="btn btn-lg btn-outline-danger" role="button">
            <i class="fas fa-chevron-up text-dark"></i>
        </a>
    </div>
    <!-- ==============footer ends here============== -->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>

</html>