body{
    background-color: indigo;
}
.na{
    background-color:grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
  }
  
  .na ul 
   {
       margin: 0;
       padding: 1rem;
       margin-right: 10px;
       
   }
   .na ul li{
       list-style: none;
       display: inline-block;
   }
   .na ul li a{
       text-decoration: none;
       color: aliceblue;
       padding: 10px;
   }
   .na a{
       color: aliceblue;
       text-decoration: none;
       margin-left: 15px;
   }
   .na a:hover{
       color: aliceblue;
   }
   .na ul li a:hover{
      color:red;
   }
   